.profile {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    user-select: none;
  
    .chevron {
        &.up > svg {
        transform: scaleY(-1);
      }
    }
  
    .menu {
      position: fixed;
      top: 48px;
      right: 16px;
      min-width: 120px;
      background-color: #ffffff;
      color: #000000;
      border-radius: 4px;
      padding: 8px 12px;
    }
  }
  